@import url('https://fonts.googleapis.com/css?family=Space+Mono:400,400i,700,700i');

body,html,input,button,select {
  font-family: 'Space Mono', monospace;
}

body,html {
  padding: 0;
  margin: 0;
  font-size: 16px;
  background: black;
  color: #ccc;
}

#url-form,#loading,#error {
  margin: 30vh auto;
  max-width: 20rem;
  text-align: center;

  input {
    background: #222;
    color: white;
    border: 1px solid #888;
  }

  button {
    background: #666;
    color: white;
    border: 1px solid #888;
  }
}

#content {
  position: fixed;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  // word-wrap: break-word;
  // word-break: break-all;
  z-index: -5000;

  &.hide-comments {
    .hljs-comment {
      display: none;
    }
  }
}

#draw-container {
  position: fixed;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: -5000;

  canvas {
    height: 100%;
    width: 100%;
  }
}

#style-menu {
  position: fixed;
  width: 18rem;
  top: 0;
  right: 0;
  margin: 0;
  padding: 1rem;
  background: rgba(0,0,0,0.5);

  transition: opacity .5s ease-in-out;

  .hide-note {
    font-style: italic;
    display: none;
  }

  &.hide {
    opacity: 0;

    &:hover {
      opacity: 0.8;
    }
    .hide-note {
      display: block;
    }
  }
}

.colorglow(@value) {
  color: @value;
  text-shadow: 0 0 10px lighten(@value, 10%);
}

.mildglow(@value) {
  color: @value;
  text-shadow: 0 0 5px lighten(@value, 10%);
}

#content.venturis {
  .mildglow(#bbb);
  background: rgb(23, 51, 60);
  .hljs-keyword,.hljs-built_in { .colorglow(rgb(100, 183, 214)); }
  .hljs-literal,.hljs-number,.hljs-params { .colorglow(rgb(130, 232, 214)); }
  .hljs-symbol,.hljs-function,.hljs-title {
    .colorglow(rgb(171, 86, 230));
    font-style: italic;
  }
  .hljs-string,.hljs-meta { .colorglow(rgb(107, 83, 207)); }
  .hljs-comment { .colorglow(rgb(159, 178, 179)); }
}

#content.weyland-yutani {
  .mildglow(#ccb);
  background: rgb(41, 40, 29);
  .hljs-keyword,.hljs-built_in {
    .colorglow(rgb(241, 205, 17));
    font-weight: bold;
  }
  .hljs-literal,.hljs-number,.hljs-params { .colorglow(rgb(200, 149, 50)); }
  .hljs-symbol,.hljs-function,.hljs-title { .colorglow(rgb(226, 142, 17)); }
  .hljs-string,.hljs-meta { .colorglow(rgb(140, 140, 140)); }
  .hljs-comment { .colorglow(rgb(139, 132, 120)); }
}
